<!DOCTYPE html>
<html>
<head>
	<title>Subsciption Verification</title>
</head>
<body>
	<h1>Dear Subscriber,</h1>
	<p>
		Thanks for subscription our newsletter. We will provide you lot's of items in  our store.<br>
		Now you are one step far to subscribe your newsleter.Please verify your email {{email}} by click on <a href="http://localhost:8000/subscribe/verify?token={{verify_token}}" style="text-decoration: none; color:blue; font-weight: bold;font-size: 17px;">verify email</a> to confirm your email.
	</p>
	<h4>Thanks & Regards</h4>
	<h2>Deal With Us Team</h2>
</body>
</html>