<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{% endblock%}</title>

    {% load static %}

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'shop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'shop/css/all.min.css' %}">
    <link rel="stylesheet" href="{%static 'shop/css/style.css' %}">
</head>
<body>
    <div class="container-fluid">

        <div class="row min-vh-100">
            <div class="col-12">
                <header class="row">
                    <!-- Top Nav -->
                    <div class="col-12 bg-dark py-2 d-md-block d-none">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <ul class="top-nav">
                                    <li>
                                        <a href="tel:+123-456-7890"><i class="fa fa-phone-square mr-2"></i>+91-00000-00000</a>
                                    </li>
                                    <li>
                                        <a href="mailto:mail@ecom.com"><i class="fa fa-envelope mr-2"></i>dwu@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-auto">
                                <ul class="top-nav">
                                    {% if current_user.first_name %}
                                    <li>
                                        <a href="/dashboard"><i class="fas fa-user-edit mr-2"></i>My Account ( {{current_user.first_name}})</a>
                                    </li>
                                    <li>
                                        <a href="/logout"><i class="fas fa-sign-out-alt mr-2"></i>logout</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="/register"><i class="fas fa-user-edit mr-2"></i>Register</a>
                                    </li>
                                    <li>
                                        <a href="/login"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top Nav -->

                    <!-- Header -->
                    <div class="col-12 bg-white pt-4">
                        <div class="row">
                            <div class="col-lg-auto">
                                <div class="site-logo text-center text-lg-left">
                                    <a href="/">Deal With Us</a>
                                </div>
                            </div>
                            <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                                <h3 style="text-align: center;"> Hello {{ current_user.first_name }}</h3>
                            </div>
                            <div class="col-lg-auto text-center text-lg-left header-item-holder">
                                <a href="/my-wishlist" class="header-item">
                                    <i class="fas fa-heart mr-2"></i> My Wishlist
                                </a>
                                <a href="/cart" class="header-item">
                                    <i class="fas fa-shopping-bag mr-2"></i>My Cart(<span id="header-qty">0</span>)
                                </a>
                            </div>
                        </div>

                        <!-- Nav -->
                        <div class="row">
                            <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                                <button class="navbar-toggler d-lg-none border-0" type="button" data-toggle="collapse" data-target="#mainNav">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="mainNav">
                                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                                        <li class="nav-item  {% if request.resolver_match.url_name == 'ShopHome' %}active{% endif %}">
                                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        {% for i in categories %}
                                        {% if i.parent_id == None %}
                                        {% if i.children.count > 0 %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="collections/{{i.slug}}" id="{{i.slug}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{i.title}}</a>
                                            <div class="dropdown-menu" aria-labelledby="{{i.slug}}">
                                                {% for k in i.children.all %}
                                                <a class="dropdown-item" href="/collections/{{k.slug}}">{{k.title}}</a>
                                                {%endfor%}
                                            </div>
                                        </li>
                                        {% else %}
                                        <li class="nav-item ">
                                            <a class="nav-link" href="collections/{{i.slug}}">{{i.title}}</a>
                                        </li>
                                        {% endif %}
                                        
                                        {% endif %}
                                        {% endfor %}
                                        <li class="nav-item {% if request.resolver_match.url_name == 'ContactUs' %}active{% endif %}">
                                            <a class="nav-link" href="/contact">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Nav -->

                    </div>
                    <!-- Header -->

                </header>
            </div>
            <!-- nav bar end here -->
            <div class="row" style="padding: 10px; width: 100%;">
                <div class="col-md-3">
                    <div class="list-group">
                      <a href="/dashboard" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'Dashboard' %}active{% endif %}">
                        <i class="fas fa-address-card"></i> &nbsp; Personal Information
                      </a>
                      <a href="/my-address" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'MyAddress' %}active{% endif %} "><i class=' fas fa-book'></i> &nbsp; Manage Addresses</a>
                      <a href="/my-orders" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'MyOrders' %}active{% endif %}"> <i class='fas fa-cubes'></i>&nbsp; My Orders </a>
                      <a href="/my-wishlist" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'MyWishlist' %}active{% endif %}"><i class='far fa-grin-hearts'></i>&nbsp; My Wishlist </a>
                      <a href="my-reviews" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'MyReviews' %}active{% endif %}"><i class='fas fa-chalkboard-teacher'></i>&nbsp; My Reviews</a>
                      <a href="/change-password" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'changePassword' %}active{% endif %}" ><i class='  far fa-edit'></i>&nbsp; Change Password</a>
                      <a href="/logout" class="list-group-item list-group-item-action"> <i class="fas fa-power-off"></i> &nbsp; Logout </a>
                    </div>
                    
                </div>
                {%block body%}{% endblock%}
        </div>
 <div class="col-12 align-self-end">
                <!-- Footer -->
                <footer class="row">
                    <div class="col-12 bg-dark text-white pb-3 pt-5">
                        <div class="row">
                            <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="footer-logo">
                                            <a href="">Deal With Us</a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <address>
                                            Sector 55, Noida<br>
                                            Pincode: 247001 <br>
                                            Uttar Pradesh, India
                                        </address>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Who are we?</h4>
                                    </div>
                                    <div class="col-12 text-justify">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet vel ligula vel sodales. Aenean vel ullamcorper purus, ac pharetra arcu. Nam enim velit, ultricies eu orci nec, aliquam efficitur sem. Quisque in sapien a sem vestibulum volutpat at eu nibh. Suspendisse eget est metus. Maecenas mollis quis nisl ac malesuada. Donec gravida tortor massa, vitae semper leo sagittis a. Donec augue turpis, rutrum vitae augue ut, venenatis auctor nulla. Sed posuere at erat in consequat. Nunc congue justo ut ante sodales, bibendum blandit augue finibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3 col-5 ml-lg-auto ml-sm-0 ml-auto mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Quick Links</h4>
                                    </div>
                                    <div class="col-12">
                                        <ul class="footer-nav">
                                            <li>
                                                <a href="/">Home</a>
                                            </li>
                                            
                                            <li>
                                                <a href="/about">About Us</a>
                                            </li>
                                            <li>
                                                <a href="/sell-with-us">Sell With Us</a>
                                            </li>
                                            <li>
                                                <a href="/contact">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 mr-auto mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase text-underline">
                                        <h4>Help</h4>
                                    </div>
                                    <div class="col-12">
                                        <ul class="footer-nav">
                                            <li>
                                                <a href="/dashboard">My Accounts</a>
                                            </li>
                                            <li>
                                                <a href="/my-orders">My Orders</a>
                                            </li>
                                            <li>
                                                <a href="/my-wishlist">My Wishlist</a>
                                            </li>
                                            <li>
                                                <a href="/my-orders">Track Order</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center text-sm-left">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Newsletter</h4>
                                    </div>
                                    <div class="col-12">
                                        <form action="/subscribe/add" method="post" name="newsletter" onsubmit="return submitNewsletter();">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Enter your email..." id = "subscriber_email" name="email" >
                                                <div class="text-danger" id="sub_email_error" ></div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-outline-light text-uppercase" id = "subscribe">Subscribe</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Footer -->
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="message-holder">
        <div class="alert alert-danger alert-dismissible fade errors" role="alert" id="buttonErrorAlert">
            <i class="fas fa-times-circle mr-2 "></i>
            <span id = "errors-body">
                This is a error alert message.
            </span>
        </div>
        <div class="alert alert-success alert-dismissible fade" role="alert" id="buttonSuccessAlert">
            <i class="fas fa-check-circle mr-2"></i>
             <span id = "success-body">
                This is a error alert message.
            </span>
        </div>
    </div>

    <!-- Messages -->
    <!-- <div class="message-holder">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <small><i class="fas fa-times"></i></small>
            </button>
            <i class="fas fa-check-circle mr-2"></i>
            This is a success alert message.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <small><i class="fas fa-times"></i></small>
            </button>
            <i class="fas fa-times-circle mr-2"></i>
            This is a error alert message.
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <small><i class="fas fa-times"></i></small>
            </button>
            <i class="fas fa-exclamation-circle mr-2"></i>
            This is a warning alert message.
        </div>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <small><i class="fas fa-times"></i></small>
            </button>
            <i class="fas fa-info-circle mr-2"></i>
            This is a info alert message.
        </div>
    </div> -->
    <!-- Messages -->

    <script type="text/javascript" src="{%static 'shop/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'shop/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'shop/js/script.js' %}"></script>
    <script type="text/javascript">
        var cartProductCount = localStorage.getItem('cart');
        var mycart = JSON.parse(cartProductCount);
        var count = 0
        if(mycart !== null){
            count = mycart.length;
        }
        document.getElementById('header-qty').innerHTML = count;
        function validateEmail(email){
            var email_pattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            return email_pattern.test(email)
        }
        function submitNewsletter(e){
            var email = $("#subscriber_email").val();
            if(email == ""){
                $('#buttonErrorAlert').addClass('show');
                $('#errors-body').html('Email required.');
                setTimeout(function() {
                    $('#buttonErrorAlert').removeClass('show');
                }, 2000);
                return false;
            }
            if(validateEmail(email) == false){
                $('#buttonErrorAlert').addClass('show');
                $('#errors-body').html('Invalid email.');
                setTimeout(function() {
                    $('#buttonErrorAlert').removeClass('show');
                }, 2000);
                return false;
            }
            return true;

        }
    </script>
</body>
</html>