{% extends "shop/myaccount/account_basic.html" %}

{%block title%}Change Password - {{ current_user.first_name }} {% endblock%}

{%block body%}

	<div class="col-md-9">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Change Password</h5>
				
				<form method="post" action="/change-password" onsubmit="return validate_form();">
                    {%csrf_token%}
                    <div class="row">
                    	<div class="col-md-12">
		                    <div class="form-group">
		                        <label for="password">Old Password</label>
		                        <input type="password" id="password" name="password" class="form-control" value = "{{ form.password }}" />
		                    </div>
                    	</div>
                    	<div class="col-md-12">
		                    <div class="form-group">
		                        <label for="new_password">New Password</label>
		                        <input type="password" id="new_password" name="new_password" class="form-control" value = "{{ form.new_password }}">
		                    </div>
                    	</div>
                    </div>

                    <div class="row">
                    	<div class="col-md-12">
		                    <div class="form-group">
		                        <label for="conf_password">Confirm Password</label>
		                        <input type="password" id="conf_password" name="conf_password" class="form-control" value = "{{ form.conf_password }}" >
		                    </div>
                    	</div>
                    </div>

                    <div class="row">
                    	<div class="col-md-6">
                    	{%for message in messages %}
		                     {%if "success" in message.tags %}
		                          <div style="color:green; font-weight: bold;"> {{message}} </div>
		                     {%endif%}
		                {%endfor%}

		                {%for message in messages %}
		                     {%if "error" in message.tags %}
		                          <div style="color:red; font-weight: bold;"> {{message}} </div>
		                     {%endif%}
		                {%endfor%}
		                <br>
		            </div>
                    </div>

                    <div class="row">
                    	<div class="col-md-6">
		                    <div class="form-group">
		                        <button type="submit" class="btn btn-primary">Change Password</button><br>
		                    </div>
		                </div>
		            </div>
		                
                </form>
			</div>
		</div>
	</div>
<script type="text/javascript">
	function validatePhoneNo(phone){
		var phone_pattern = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
		return phone_pattern.test(phone)
	}

	function validate_form(){
		var val = true;
		password = $("#password").val();
		new_password = $("#new_password").val();
		conf_password = $("#conf_password").val();
		$('.password_error').remove();
		$('.new_password_error').remove();
		$('.conf_password_error').remove();
		if(password == ""){
			$("<p class='text-danger password_error'>Password required.</p>").insertAfter($('#password'));
			val = false
		}
		if(new_password == ""){
			$("<p class='text-danger new_passwordl_error'>New password required.</p>").insertAfter($('#new_password'));
			val = false
		}

		if(conf_password == ""){
			$("<p class='text-danger conf_password_error'>Confirm password required.</p>").insertAfter($('#conf_password'));
			val = false
		}

		if(conf_password !=="" && new_password !=="" && conf_password !== new_password){
			$("<p class='text-danger conf_password_error'>Confirm password not match to New Password.</p>").insertAfter($('#conf_password'));
			val = false
		}


		return val;
	}
</script>
{% endblock%}