<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>
</head>
<body>
	<h1 style="text-align: center;">Deal With Us </h1>
	<hr style="border: 1px solid gray">
	<h3>Dear {{name}},</h3>
	<p>Please click on below link to reset your password:</p>
	<a href="http://localhost:8000/reset_password?uname={{username}}" target="_blank">
		Reset Password
	</a>
	<hr style="border: 1px solid gray">
	<div style="width: 30%; float: right;">
		<h4>Thanks & Regards</h4>
		<h3>Deal With Us Team</h3>
	</div>
</body>
</html>