{% extends "shop/basic.html" %}

{%block title%}Oops! Page not found{% endblock%}


{%block body%}
<div class="container container-fluid" style="padding: 10px; ">
	<div class="row">
		<h1 style="width:100%; margin-top:30px; font-weight: bold;  text-align: center;">Opps!</h1>
		<h1 style="width:100%; font-size: 159px; font-weight: bold;  text-align: center;">500</h1>
		<h2 style="width:100%; font-weight: bold;  text-align: center; "> Something may be wrong.</h2>
		<p style="width:100%; font-weight: bold;  text-align: center; ">Some parameters may be missing. Please contact administrator.</p>
		<a href="/" class="btn btn-primary mx-auto my-2">Back To Home</a>
	</div>
</div>
{% endblock%}