{% extends "shop/basic.html" %}

{%block title%}
	{{product.product_name}}
{% endblock%}

{%block body%}
{% load static %}
{% load humanize %}
<div style="width:100%" >
	<div class="col-12">
		<!-- Main Content -->
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    {% for bd in breadcrumbs reversed %}
		    <li class="breadcrumb-item"><a href="/collections/{{bd.url}}">{{bd.label}}</a></li>
		    {% endfor %}
		    <li class="breadcrumb-item"><a href="/collections/{{prod_cat_info.slug}}">{{prod_cat_info.title}}</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{product.product_name}}</li>
		  </ol>
		</nav>
		<main class="row">
			<div class="col-12 bg-white py-3 my-3">
				<div class="row">

					<!-- Product Images -->
					<div class="col-lg-5 col-md-12 mb-3">
						<div class="col-12 mb-3">
							<div class="img-large border" style="background-image: url('/media/{{product_image.0.product_image}}')"></div>
						</div>
						<div class="col-12">
							<div class="row">
								{% for img in product_image %}
								<div class="col-sm-2 col-3">
									<div class="img-small border" style="background-image: url('/media/{{img.product_image}}')" data-src="/media/{{img.product_image}}"></div>
								</div>
								{% endfor %}
								
							</div>
						</div>
					</div>
					<!-- Product Images -->

					<!-- Product Info -->
					<div class="col-lg-5 col-md-9">
						<div class="col-12 product-name large">
							{{product.product_name}}
							<small><b>Sold By </b> {{product.seller_id.first_name}}</small>
						</div>
						<div class="col-12 px-0">
							<hr>
						</div>
						<div class="col-12">
							{{product.product_description}}
							{% if product.avialable_on == "INDIA" %}
							<p class="text-success">**Only available in India </p>
							{% elif product.avialable_on == "OUTSIDEINDIA" %}
							<p class="text-danger">**Not available in India</p>
							{% endif %}
						</div>
					</div>
					<!-- Product Info -->

					<!-- Sidebar -->
					<div class="col-lg-2 col-md-3 text-center">
						<div class="col-12 border-left border-top sidebar h-100">
							<div class="row">
								<div class="col-12">
									<span class="detail-price">
										{{product.currency_symbol}} {{product.price|intcomma}}
									</span>
									{% if product.old_price != 0 %}
									<span class="detail-price-old">
										 {{product.currency_symbol}} {{product.old_price|intcomma}}
									</span>
									{% endif %}
								</div>
								{% if product.quantity > 0 %}
								<div class="col-xl-5 col-md-9 col-sm-3 col-5 mx-auto mt-3">
									<div class="form-group">
										<label for="qty">Quantity</label>
										<input type="number" id="qty" min="1" value="1" class="form-control qty-{{product.product_id}}" data-total-qty = {{product.quantity}} required>
									</div>
								</div>
								<div class="col-12 mt-3">
									<button class="btn btn-outline-dark add-to-cart" type="button" data-id = "{{product.product_id}} ><i class="fas fa-cart-plus mr-2"></i>Add to cart</button>
								</div>
								{% else %}
								<div class="text-danger" style="margin: auto;"> Out Of Stock </div>
								{% endif %}
								<div class="form-group" style="margin: auto ">
								{%for message in messages %}

	                                {%if "wishlist_added" in message.tags %}
	                                      <div style="color:green;"> {{message}} </div>
	                                {%endif%}

	                            {%endfor%}
								<div class="col-12 mt-3">
									{% if in_wishlist %}
									<a href ="/remove-from-wishlist/{{product.product_id}}/{{product.slug}}" class="btn btn-danger btn-sm" type="button" onclick="return confirm('Are you really want to remove it from your wishlist.')"><i class="fas fa-minus-circle"></i> &nbsp; Remove from wishlist</a>
									{% else %}
									<a href ="/add-to-wishlist/{{product.product_id}}/{{product.slug}}" class="btn btn-outline-secondary btn-sm" type="button" onclick="return confirm('Are you really want to add it in your wishlist.')"><i class="fas fa-heart mr-2"></i>Add to wishlist</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<!-- Sidebar -->

				</div>
			</div>

			<div class="col-12 mb-3 py-3 bg-white text-justify">
				<div class="row">

					<!-- Details -->
					<div class="col-md-7">
						<div class="col-12">
							<div class="row">
								<div class="col-12 text-uppercase">
									<h2><u>Details</u></h2>
								</div>
								<div class="col-12" id="details">
									{% if product.details %}
									{{product.details}}
									{% else %}
									<b>Product Name :</b> {{product.product_name}} <br>
									<b> Product Price : </b> &#8377; {{product.price|intcomma}} <br>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<!-- Details -->

					<!-- Ratings & Reviews -->
					<div class="col-md-5">
						<div class="col-12 px-md-4 border-top border-left sidebar h-100">

							<!-- Rating -->
							<div class="row">
								<div class="col-12 mt-md-0 mt-3 text-uppercase">
									<h2><u>Ratings & Reviews</u></h2>
								</div>
								<div class="col-12">
									<div class="row">
										<div class="col-sm-4 text-center">
											<div class="row">
												<div class="col-12 average-rating">
													{{avgRating}}
												</div>
												<div class="col-12">
													of {{reviews|length}} reviews
												</div>
											</div>
										</div>
										<div class="col">
											<ul class="rating-list mt-3">
												{% for mykey ,myvalue in rating_percentage.items %}
												<li>
													<div class="progress">
														<div class="progress-bar bg-dark" role="progressbar" style="width: {{myvalue}}%;" aria-valuenow="{{myvalue}}" aria-valuemin="0" aria-valuemax="100">{{myvalue}}%</div>
													</div>
													<div class="rating-progress-label">
														{{mykey}}<i class="fas fa-star ml-1"></i>
													</div>
												</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- Rating -->

							<div class="row">
								<div class="col-12 px-md-3 px-0">
									<hr>
								</div>
							</div>

							{% if order_id > 0 %}

							<!-- Add Review -->
							<div class="row">
								<div class="col-12">
									<h4>Add Review</h4>
								</div>
								<div class="col-12">
									<form action="/review" method="post">
										{% csrf_token %}
										<div class="form-group">
											<input type="hidden" name="product_id" value="{{product.product_id}}">
											<input type="hidden" name="product_slug" value="{{product.slug}}">
											<input type="hidden" name="order_id" value="{{ order_id }}">
											<textarea class="form-control" placeholder="Give your review" name= "review"></textarea>
										</div>
										<div class="form-group">
											<div class="d-flex ratings justify-content-end flex-row-reverse">
												<input type="radio" value="5" name="rating" id="rating-5"><label
												for="rating-5"></label>
												<input type="radio" value="4" name="rating" id="rating-4"><label
												for="rating-4"></label>
												<input type="radio" value="3" name="rating" id="rating-3"><label
												for="rating-3"></label>
												<input type="radio" value="2" name="rating" id="rating-2"><label
												for="rating-2"></label>
												<input type="radio" value="1" name="rating" id="rating-1" checked><label
												for="rating-1"></label>
											</div>
										</div>
										<div class="form-group">
											{%for message in messages %}
				                                {%if "review_rating" in message.tags %}
				                                      <div style="color:red;"> {{message}} </div>
				                                {%endif%}

				                                {%if "success" in message.tags %}
				                                      <div style="color:green;"> {{message}} </div>
				                                {%endif%}

				                            {%endfor%}


											<button class="btn btn-outline-dark">Add Review</button>
										</div>
									</form>
								</div>
							</div>
							<!-- Add Review -->

							<div class="row">
								<div class="col-12 px-md-3 px-0">
									<hr>
								</div>
							</div>

							{% endif %}


							<!-- Review -->
							<div class="row">
								<div class="col-12">
									{% for r in reviews|slice:":8" %}
									<!-- Comments -->
									<div class="col-12 text-justify py-2 mb-3 bg-gray">
										<div class="row">
											<div class="col-12">
												<strong class="mr-2">{{r.customer}}</strong>
												<small>
													{% for c in review_range %}
														{% if r.rating >= c %}
														<i class="fas fa-star"></i>
														{% else %}
														<i class="far fa-star"></i>
														{% endif %}
													{% endfor %}
													<!-- <i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i> -->
												</small>
											</div>
											<div class="col-12">
												{{r.review}}
											</div>
											<div class="col-12">
												<small>
													<i class="fas fa-clock mr-2"></i>
													{{ r.updated_at|naturaltime }}
												</small>
											</div>
										</div>
									</div>
									{% empty %}
  										<div class="container">No review found.</div>
									<!-- Comments -->
									{% endfor %}

								</div>
							</div>
							<!-- Review -->

						</div>
					</div>
					<!-- Ratings & Reviews -->

				</div>
			</div>
<style>
    .product-img img{height: 200px;}
</style>
			<!-- Similar Product -->
			<div class="col-12">
				<div class="row">
					<div class="col-12 py-3">
						<div class="row">
							<div class="col-12 text-center text-uppercase">
								<h2>Similar Products</h2>
							</div>
						</div>
						<div class="row">
							{% for smp in similer_products %}
							
							<!-- Product -->
							<div class="col-lg-3 col-sm-6 my-3">
								<div class="col-12 bg-white text-center h-100 product-item">
									<div class="row h-100">
										<div class="col-12 p-0 mb-3 product-img">
											<a href="/product-details/{{smp.slug}}">
												<img src="/media/{{smp.image}}" class="img-fluid">
											</a>
										</div>
										<div class="col-12 mb-3">
											<a href="/product-details/{{smp.slug}}" class="product-name">{{smp.product_title}}</a>
										</div>
										<div class="col-12 mb-3">
											{% if smp.old_price != 0 %}
                                            <span class="product-price-old">
                                                {{smp.currency_symbol}}  {{smp.old_price|intcomma}}
                                            </span>
                                            {% endif %}
											<br>
											<span class="product-price">
												{{smp.currency_symbol}}  {{smp.price|intcomma}}
											</span>
										</div>
										<div class="col-12 mb-3 align-self-end">
											{% if smp.quantity > 0 %}
											<input type="number" id="qty" min="1" value="1" class="form-control qty-{{smp.product_id}}" data-total-qty = {{smp.quantity}} required="" style="margin: auto; width: 62px; margin-bottom: 10px;">
											<button class="btn btn-outline-dark add-to-cart" type="button"  data-id = "{{smp.product_id}} ><i class="fas fa-cart-plus mr-2"></i>Add to cart</button>
											{% else %}
                                            <div class="text-danger" style = "position: relative; top: -14px;;"> Out Of Stock </div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							{% empty %}
  								<div class="container">No similar product found of this product.</div>
							<!-- Product -->
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
			<!-- Similar Products -->

		</main>
		<!-- Main Content -->
	</div>
</div>
<script type="text/javascript" src="{%static 'shop/js/add-to-cart.js' %}"></script>
{% endblock%}